<li class="flower-detials" style="background-color: {%BGCOLOR%};">
  <h1 class="flower-heading">{%FLOWER_NAME%}</h1>
  <div class="flower-image">{%FLOWER_IMAGES%}</div>
  <div class="container-lables"><span class="lables">From</span> <span class="lables-details">{%FROM%}</span></div>
  <div class="container-lables"><span class="lables">Quantity</span> <span class="lables-details">{%QUANTITY%}</span></div>
  <div class="container-lables"><span class="lables">Price</span> <span class="lables-details">{%PRICE%}</span></div>
 <a href="/flower?id={%ID%}"><input class="more-button" type="submit" value="More Details"></a>                     
</li>